.profile_wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 20px;
}
.avatar {
    width: 200px;
    margin-left: 50px;
    float: left;
}

.avatar img {
    width: 90%;
}
.user_info {
    float: left;
}